<!-- src/app/components/weather-display/weather-display.component.html -->
<div *ngIf="weather && airPollution" class="max-w-sm mx-auto bg-white shadow-md rounded-lg overflow-hidden mt-6">
    <div class="flex items-center justify-center bg-main-fg p-4">
        <h2 class="text-white text-2xl">{{ weather.city }}, {{ weather.country }}</h2>
    </div>
    <div class="p-6 text-center bg-amber-500">
        <img [src]="weather.icon" [alt]="weather.condition" class="mx-auto">
        <p class="text-4xl font-bold">{{ weather.temperature | number: '1.0-1' }}°C</p>
        <p class="text-xl text-gray-700 capitalize">{{ weather.description }}</p>
    </div>
    <div class="p-6">
        <h3 class="text-xl font-semibold mb-2">Air Quality Index: {{ airPollution.airQualityIndex }}</h3>
        <div class="grid grid-cols-2 gap-4">
            <div *ngFor="let pollutant of pollutantList">
                <p class="text-gray-700">{{ pollutant.label }}: {{ airPollution.components[pollutant.key] | number:
                    '1.0-2' }} µg/m³</p>
            </div>
        </div>
    </div>
</div>